body{
    margin: 0;
    font-family: "Lato",sans-serif;
    font-style: normal ;
}
header{
    background-color: rgb(21, 21, 21);
    height: 45px;
}
h1{
    padding:0;
    margin:0;
}
h1.bar{
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
li {
    float: left;
  }  
ul{
    padding: 0;
    margin:0;
}
li.list_s{
    list-style-type: none;
}

a.style{
    text-decoration: none;
    color: #ffffff;

}
a.style :hover{
    background-color: rgb(198, 198, 198);
    color:rgb(66, 66, 66);
}